.library {
	position: fixed;
	top: 0;
	left: 0;
	width: 20rem;
	height: 100%;
	background-color: white;
	overflow: scroll;
	box-shadow: 2px 2px 50px rgb(198, 197, 197);
	transform: translatex(-100%);
	transition: all 0.5s ease;
	opacity: 0;
	z-index: 101;

	h2 {
		padding: 2rem;
	}

	.library-songs {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.open {
	transform: none;
	opacity: 1;
}

.librarysong-container {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 1rem 2rem;
	transition: all 500ms ease;

	&:hover {
		background-color: lightblue;
	}

	img {
		width: 30%;
		border-radius: 50%;
	}

	.song-information {
		text-align: center;
		padding: 1rem;
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h3 {
			font-size: 1rem;
		}

		h4 {
			font-size: 0.7rem;
		}
	}
}

.selected {
	background-color: rgb(228, 245, 250);
}

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.5);
	border-radius: 20px;
	border: transparent;
}

@media screen and (max-width: 768px) {
	.library {
		width: 100%;
	}
}
